

<h1>Add A Fruit</h1>

<form action="/fruits" method="post">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />

  <p>
    <label for="fruit_name" class="form-label">Fruit Name</label>
    <input name="fruit[name]" id="fruit_name">
  </p>

  <p>
    <label for="fruit_description" class="form-label">Fruit Description</label>
    <input name="fruit[description]" id="fruit_description">
  </p>

  <p>
    <input type="submit" value="Add Fruit" class="form-button">
  </p>
</form>

  <table width="500" border="black">
    <thead>
    <th>Name</th><th>Description</th>
    </thead>
    <% @fruits.each do |fruit| %>
  <tr><td><a href="/fruits/<%=fruit.id %>"><%= fruit.name %></a></td>
    <td><a href="/fruits/<%=fruit.id %>"><%= fruit.description %></a></td></tr>
  <% end %>
  </table>
