<%= form_for @song do |f| %>

<p>
  <%= f.label :title, class: "form-label" %>
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :artist, class: "form-label" %>
  <%= f.text_field :artist %>
</p>

<p>
  <%= f.submit "Add Song" %>
</p>

<% end %>

<table width="500" border="black">
<caption><h2>Songs</h2></caption>
  <thead>
  <th>Artist</th>
  <th>Title</th>
  </thead>
  <tbody>
  <% @songs.each do |song| %>
  <tr>
    <td><%= link_to song.artist, song_path(song) %></td>
    <td><%= song.title %></td>
    <% end %>
  </tr>
  </tbody>
</table>
