<h2>Update Bike</h2>

<%= form_for @bike do |f| %>

  <% if @bike.errors.present? %>
    <div class="errors">
      <h1>There was an error</h1>
      <ul class="error-list">
        <% @bike.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :year, "Year" %>
    <%= f.text_field :year %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>