<h2>Add A Bike</h2>

<%= form_for @bike do |f| %>

  <% if @bike.errors.present? %>
    <div class="errors">
      <h1>There was an error</h1>
      <ul class="error-list">
        <% @bike.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :year, "Year" %>
    <%= f.text_field :year %>
  </p>

  <p>
    <%= f.submit "Add Bike" %>
  </p>
<% end %>

<table width="500" border="orange">
  <thead>
  <caption><h2>Bikes</h2></caption>
  <th>Name</th>
  <th>Year</th>
  </thead>
  <tbody>
  <% @bikes.each do |bike| %>
    <tr>
    <td><%= bike.name %></td>
    <td><%= bike.year %></td></tr>
  <% end %>
  </tbody>
</table>

