<%= form_for @car do |f| %>

  <p>
    <%= f.label :model, class: "form-label" %>
    <%= f.text_field :model %>
  </p>

  <p>
    <%= f.label :year, class: "form-label" %>
    <%= f.text_field :year %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>

<% end %>